
.banner-img{
    width: 100%;
    mask-image:linear-gradient(to right,transparent,black 75%);
    -webkit-mask-image:linear-gradient(to right,transparent,black 75%);
}
.more-cards{
    padding-left: 6%;
}
@media(max-width:1024px){
    .hero-caption .title-cards{
        display:none;
    }
}